#calculator {
  margin: auto;
}

.body-main {
  fill: #9fa29d;
}

.body-side {
  fill: #312d42;
}

.btn {
  transition: 0.32s ease;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-top,
.btn-directions {
  fill: #243052;
}

.btn-top,
.inner-ring {
  stroke: #35477a;
  stroke-width: 0.5px;
}

.btn-top,
.display-screen,
.inner-ring {
  stroke-miterlimit: 10;
}

.btn-directions-backing {
  fill: #31406e;
}

.inner-ring {
  fill: none;
}

.display-recess {
  fill: #888c87;
}

.solar-cell {
  fill: #21181e;
}

.display-screen {
  fill: #4d674a;
  stroke: #7e827d;
  stroke-width: 2px;
}

.btn-del-ac {
  fill: #592b36;
}

.btn-text {
  fill: #fff;
}

.btn-regular {
  fill: #18161b;
}

.btn-advanced {
  fill: #3b3e43;
}